.add-page-main-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-page-title {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-page-title p {
    font-size: 28px;
    font-weight: 500;
}

.add-page-sub-container {
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: aliceblue;
}

.add-page-container {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-page-employee-name,
.add-page-employee-email,
.add-page-employee-salary,
.add-page-employee-date {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-page-employee-name p,
.add-page-employee-email p,
.add-page-employee-salary p,
.add-page-employee-date p {
    font-size: 17px;
    height: 20%;
    font-weight: 500;
}

.add-page-employee-name input,
.add-page-employee-email input,
.add-page-employee-salary input,
.add-page-employee-date input {
    width: 98%;
    height: 45%;
    padding-left: 5px;
    border-radius: 4px;
    background-color: #f1eeee;
    outline: none;
    border: 3px solid transparent;
}

.add-and-cancel-button {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    width: 42%;
    height: 70%;
    outline: none;
    border-radius: 6px;
    background-color: #246bfb;
    color: white;
    border: 1px solid transparent;
    transition: 0.3s;
}

.add-button:hover,
.cancel-button:hover {
    scale: calc(1.1);
}

.cancel-button {
    width: 42%;
    height: 70%;
    outline: none;
    border-radius: 6px;
    background-color: #f9f9f9;
    border: 1px solid #3c3b3b;
    transition: 0.3s;
}

@media screen and (max-width: 550px) {
    .add-page-sub-container {
        width: 90%;
        height: 90%;
    }

    .add-page-container {
        width: 90%;
        height: 93%;
    }

    .add-page-employee-name p,
    .add-page-employee-email p,
    .add-page-employee-salary p,
    .add-page-employee-date p {
        font-size: 21px;
    }

    .add-and-cancel-button {
        width: 97%;
        height: 14%;
    }

    .cancel-button,
    .add-button {
        width: 45%;
        font-size: 20px;
    }
}